//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.05
//Part Number: GW1N-LV1QN48C6/I5
//Device: GW1N-1
//Created Time: Tue 06 06 21:04:41 2023

IO_LOC "BUZZER" 10;
IO_PORT "BUZZER" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "key_col[3]" 45;
IO_PORT "key_col[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "key_col[2]" 44;
IO_PORT "key_col[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "key_col[1]" 43;
IO_PORT "key_col[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "key_col[0]" 42;
IO_PORT "key_col[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "lcd_led" 32;
IO_PORT "lcd_led" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "lcd_cs" 28;
IO_PORT "lcd_cs" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "lcd_mosi" 31;
IO_PORT "lcd_mosi" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "lcd_sclk" 27;
IO_PORT "lcd_sclk" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "lcd_dc" 29;
IO_PORT "lcd_dc" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "lcd_rst" 30;
IO_PORT "lcd_rst" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "dht11" 46;
IO_PORT "dht11" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "key_row[3]" 41;
IO_PORT "key_row[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "key_row[2]" 40;
IO_PORT "key_row[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "key_row[1]" 39;
IO_PORT "key_row[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "key_row[0]" 38;
IO_PORT "key_row[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "sys_rst_n" 15;
IO_PORT "sys_rst_n" PULL_MODE=UP;
IO_LOC "xtal_clk" 35;
IO_PORT "xtal_clk" PULL_MODE=UP;
